body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#responseContainer {
    display: none;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

pre {
    white-space: pre-wrap;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}